<p>
  Guten Tag, <%= @user.vname %> <%= @user.nname %>,
</p>
<p>
Mit Klick auf den unten angegebenen Link können Sie Ihr Passwort neu setzen:
</p>
<%= link_to t(:reset), reset_url(@user.id, onetimetoken: @user.onetimetoken, locale: I18n.locale) %>
<p>
Freundliche Grüsse<br>
Ihr Team vom Feuerbestattungsverein Chur
</p>
	