/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$page_backgroundcolor: #686667;
$frame_border: #333322;
$header_backgroundcolor: #E2DED4;

body {
  background-color: $page_backgroundcolor;
  font-family: verdana, arial, helvetica, sans-serif;
}

#content {
  margin: 8px 8px;
  border: 6px solid $frame_border;
  background-color: #fff;
  header.main {
    background-color: $header_backgroundcolor;
    padding: 4px 24px;
    box-shadow: 0px 6px 5px grey;
  }
  .main {
    padding: 4px 24px;
    .right {
      padding-top: 24px;
    }
  }
  footer {
    padding: 4px 24px;
    .dezent {
      font-size: small;
      text-decoration: none;
      color: $header_backgroundcolor;
    }
  }
}
p, ol, ul, td, .right {
  font-size: 14px;
  line-height: 18px;
}

th, td {
  text-align: left;
  padding: 1px 6px;
}

th {
  background: white;
  font-size: 110%;
  vertical-align: top;
}

.interim {
  font-family: verdana, arial, helvetica, sans-serif;
  font-style: italic;
  font-size: 1.1em;
  text-decoration: underline;
  padding-right: 24px;
  background: white;
}

.liste {
  tr {background: #CCC}
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: underline;

  &:visited {
    color: #000;
  }

  &:hover {
    background-color: $header_backgroundcolor;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 840px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.kommendetage {
  display: inline-block;
  color: $page_backgroundcolor;
  font-size: 13px;
  line-height: 18px;
  a {
    color: black;
  }
}

.tag {
  padding: 4px 12px;
  margin: 8px;
  float: left;
  width: 120px;
  border: 1px solid black;
  border-radius: 0.3em
}

.open {
  padding-top: 9px;
  float: right;
  font-size: 360%;
}

.functions {
  font-style: italic;
}

.menu {
  a {
    text-decoration: none;
  }
}

.submenu {
  float: right;
  font-weight: bold;
}

.hinweis {
  padding-bottom: 24px;
  font-style: italic;
  font-weight: bold;
}

.wichtig {
  visibility:hidden;
  border: 1px dotted red;
  padding: 4px;
  color: darkred;
  a {
    color: darkred;
  }
}

.right {
  float: right;
  text-align: right;
  padding-bottom:12px;
}

.subheading {
  margin-top: -1.2em;
  margin-bottom: 1.2em;
  font-size: 90%;
}

@media print {
  body {
    background-color: white;
    font-family: garamond, times, serif;
  }
  #content {
    margin: 0;
    border: 0px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .menu, .submenu, .no_print, #cleanup_bookings {
    display: none;
  }
}