<p>Dieses Applikation basiert auf einer Idee von Sabina und Fredy Knaus.</p>
<p>Sie wurde in enger Zusammenarbeit mit ihnen von Sven Koesling (mcsvenster(at)gmail.com) entwickelt und auf die Anforderungen des Feuerbestattungsvereins Chur angepasst.</p>